*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.container {
  min-width: 375px;
  width: 100%;
}

.title {
  font-family: "Crete Round", serif;
}

p {
  line-height: 24px;
}

section .nav-header {
  display: flex;
  align-items: center;
  background: #3c3a39;
  justify-content: space-between;
  padding: 1em 0;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 1000;
}

header a {
  padding-left: 7%;
}

.menu {
  padding: 10vw;
  cursor: pointer;
}

.headline-main {
  min-height: 590px;
  height: auto;
  padding: 30vh 10% 7% 10%;
  color: white;
  background: #1c1a19;
  background-image: url('./media-files/Group-Image.png');
  background-attachment: absolute;
  background-position: 100% 110%;
  background-size: auto 40%;
  background-repeat: no-repeat;
}

.primary-text {
  font-weight: 400px;
  font-size: 2.7em;
  line-height: 50px;
  color: #ff6b00;
  padding-bottom: 0.5em;
}

.primary-text strong {
  display: block;
}

.supporting-text {
  font-family: "Roboto", sans-serif;
  font-size: 1.4em;
  font-weight: 700px;
  color: #fff5e1;
  padding-bottom: 0.3em;
}

.description {
  font-family: "Poppins", "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.5;
  padding-bottom: 1em;
  white-space: normal;
}

/* Work Section */
.work-main {
  max-width: 100%;
  padding: 0 10vw;
  color: black;
}

.work-title {
  font-size: 2.3rem;
  margin: 4em 0 2em 0;
  padding-bottom: 2em;
  border-bottom: 2px solid rgba(33, 33, 33, 0.4);
  text-align: center;
}

.work-details {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
}

.work-details .work-image {
  flex: 1;
  margin-bottom: 1.8em;
}

.sub {
  font-size: 1.8em;
}

.work-text {
  margin: 0.5em 0;
  font-size: 1.1em;
  color: #091e42;
  line-height: 24px;
  white-space: normal;
}

.categories {
  display: flex;
  margin: 1em 0;
  list-style: none;
}

.categories li {
  flex: 1;
  margin-right: 0.5em;
  padding: 0.7em;
  border: 1px solid rgba(33, 33, 33, 0.4);
  text-align: center;
  color: #091e42;
  font-size: 1em;
}

button {
  width: 40%;
  background: #ff6b00;
  padding: 0.7em;
  outline: none;
  border: none;
  color: #fff5e1;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

button:hover {
  background-color: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
}

button:active {
  background-color: #e05304;
  color: #fff5e1;
}

.work-frame {
  display: grid;
  grid-template-columns: 1fr;
  margin: 2em 0;
}

.card {
  position: relative;
  background-image: url('./media-files/Img\ Card.png');
  background-size: cover;
  background-position: center;
  color: #fff;
  max-width: 100%;
  margin-bottom: 2em;
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0.6) 61%, rgba(0, 0, 0, 0.1) 90%);
  pointer-events: none;
}

.card > * {
  position: relative;
  z-index: 2;
}

.card button {
  width: 100%;
}

.card .card-title {
  padding: 22% 0 3% 5%;
  font-size: 2rem;
  line-height: 44px;
}

.card > p,
.frame {
  padding: 0 3% 5% 5%;
}

.frame li {
  background: #3c3a39;
  color: #ffff;
}
