*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  max-width: 100%;
  color: white;
  background: #1c1a19;
  background-image: url('./media-files/Group-Image.png');
  background-attachment: absolute;
  background-position: 100% 115%;
  background-size: 12% 55%;
  background-repeat: no-repeat;
}

section .nav-header {
  display: flex;
  align-items: center;
  background: #3c3a39;
  justify-content: space-between;
  padding: 1em 0;
  margin: 0;
}

header a {
  padding-left: 7%;
}

nav img {
  padding-right: 7em;
  cursor: pointer;
}

.headline-main {
  padding: 13% 7% 0 7%;
}

.primary-text {
  font-family: "Crete Round", serif;
  font-weight: 400px;
  font-size: 3em;
  line-height: 55px;
  color: #ff6b00;
  padding-bottom: 0.5em;
}

.supporting-text {
  font-family: "Roboto", sans-serif;
  font-size: 1.4em;
  font-weight: 700px;
  color: #fff5e1;
  padding-bottom: 0.5em;
}

.description {
  font-family: "Poppins", "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 100px;
  line-height: 30px;
  padding-bottom: 1em;
}
