*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: #edebeb;
}

/* Typography */
p {
  font-size: 1rem;
  line-height: 24px;
}

ul li {
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  p {
    font-size: 1.15rem;
    line-height: 28px;
  }
}

@media (min-width: 1024px) {
  p {
    font-size: 1.25rem;
    line-height: 32px;
  }

  .primary-text {
    font-size: 4.5rem;
    line-height: 81.5px;
  }

  .supporting-text {
    font-size: 2rem;
    line-height: 44px;
  }

  .description {
    font-size: 1.25rem;
    line-height: 32px;
  }

  .work-text {
    font-size: 1.25rem;
    line-height: 28px;
  }
}

/* MOBILE */

/* Hero Section */
.container {
  min-width: 375px;
  width: 100%;
  margin: 0 auto;
}

.title {
  font-family: "Crete Round", serif;
}

.nav-header {
  background: #3c3a39;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 1000;
}

.nav-container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
}

.menu {
  display: block;
  padding: 10vw 4vw;
  cursor: pointer;
}

.nav-links {
  display: none;
}

.headline-wrapper {
  background: #1c1a19;
  background-image: url('./media-files/Group-Image.png');
  background-attachment: absolute;
  background-position: 100% 110%;
  background-size: auto 40%;
  background-repeat: no-repeat;
}

.headline-main {
  min-height: 590px;
  height: auto;
  padding: 30vh 10% 7% 6%;
  color: white;
}

.primary-text {
  font-weight: 400px;
  font-size: 3.5rem;
  line-height: 64px;
  color: #ff6b00;
  padding-bottom: 0.5em;
}

.primary-text strong {
  display: block;
}

.supporting-text {
  font-family: "Roboto", sans-serif;
  font-size: 1.4em;
  line-height: 32px;
  font-weight: 700px;
  color: #fff5e1;
  padding-bottom: 0.3em;
}

.description {
  font-family: "Poppins", "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 24px;
  padding-bottom: 1em;
  white-space: normal;
  max-width: 70vw;
}

/* Work Section */
.work.wrapper {
  background-color: #fff;
}

.work-main {
  min-width: 375px;
  max-width: 100%;
  padding: 0 5vw;
  margin: 0 auto;
  color: black;
}

.work-heading {
  margin-bottom: 1em;
}

.work-title {
  font-size: 2.3rem;
  padding-top: 2em;
  text-align: center;
}

hr {
  border: none;
  width: 100%;
  margin: 2em auto 5em auto;
  height: 1px;
  background-color: #212121;
}

.work-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Inter', sans-serif;
}

.detail {
  display: flex;
  flex-direction: column;
}

.detail .work-image {
  margin-bottom: 1.8em;
}

.sub {
  font-size: 1.8em;
  padding-bottom: 1em;
  color: #091e42;
}

.work-text {
  margin: 0.5em 0;
  font-size: 1.1em;
  color: #091e42;
  line-height: 24px;
  white-space: normal;
}

.categories {
  display: flex;
  gap: 0.4em;
  margin: 1em 0;
  list-style: none;
}

.categories li {
  flex: 1;
  padding: 0.4em;
  border: 1px solid rgba(33, 33, 33, 0.4);
  text-align: center;
  color: #091e42;
  font-size: 1em;
}

button {
  width: 40%;
  height: 3em;
  background: #ff6b00;
  padding: 0.7rem;
  outline: none;
  border: none;
  color: #fff5e1;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

button:hover {
  background-color: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
}

button:active {
  background-color: #e05304;
  color: #fff5e1;
}

.work-frame {
  display: grid;
  grid-template-columns: 1fr;
  margin: 2em 0;
}

.card {
  position: relative;
  background-image: url('./media-files/Img\ Card.png');
  background-size: cover;
  background-position: center;
  color: #fff;
  max-width: 100%;
  margin-bottom: 2em;
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 386px;
  background: linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.9) 84%);
  pointer-events: none;
}

.card > * {
  position: relative;
  z-index: 2;
}

.card button {
  width: 100%;
}

.card .card-title {
  padding: 22% 0 3% 5%;
  font-size: 2rem;
  line-height: 44px;
}

.card > p,
.frame {
  padding: 0 3% 5% 5%;
}

.frame li {
  background: #3c3a39;
  color: #ffff;
}

/* About Section */

.container-about {
  min-width: 375px;
  width: 100%;
  margin-top: 5%;
  background-color: #1c1a19;
  color: #ffff;
  background-image: url('./media-files/About-Image.png');
  background-repeat: no-repeat;
  background-size: 50% 22%;
  background-position: 100% 22%;
}

.about-main {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding: 4em 5vw;
}

.about-main button {
  width: 40%;
  margin-bottom: 24em;
}

.line {
  height: 2px;
  flex: 1;
  border-bottom: 2px solid #fff;
  margin-bottom: 7em;
}

.skill-group {
  position: relative;
}

.skill-title-one::before {
  content: url('media-files/Shape-One.png');
  position: absolute;
  top: 0;
  left: 9%;
}

.skill-title-two::before {
  content: url('media-files/Shape-Two.png');
  position: absolute;
  top: -1.3%;
  left: 7%;
}

.skill-title-three::before {
  content: url('media-files/Shape-Three.png');
  position: absolute;
  top: -1%;
  left: 26%;
}

.skill-group .header {
  font-family: 'InaiMathi', sans-serif;
  font-size: 2.1rem;
  font-weight: bold;
  padding-bottom: 1em;
  margin-top: 1em;
}

.my-skills > ul,
menu {
  list-style-type: none;
  text-align: center;
}

.my-skills li {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  line-height: 42.7px;
}

/* Contact */
.container-contact {
  background-color: #fff;
  min-width: 375px;
  width: 100%;
  margin: 0 auto;
  padding-top: 10%;
}

.contact {
  display: flex;
  padding: 4em 5vw 1em 5vw;
  flex-direction: column;
  gap: 2em;
  max-width: 1500px;
  margin: auto;
}

.contact h3 {
  font-family: 'Inter', sans-serif;
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 44px;
  color: #172b4d;
  text-align: center;
  margin-bottom: 2em;
}

.contact input {
  width: 100%;
  height: 3em;
  padding: 1.5em 1em;
  margin-bottom: 1em;
  border: none;
  border-bottom: 2px solid #dbd8d7;
  background: none;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  color: #979493;
}

form textarea {
  width: 100%;
  height: 114px;
  margin-top: 1em;
  padding: 1em;
  font-style: italic;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  color: #3c3a39;
  border: none;
  background: #fbf8f7;
}

.contact form button {
  display: block;
  margin: 1em auto;
}

footer {
  margin-top: 3em;
  border-top: 0.1em solid #dbd8d7;
  padding-top: 1em;
}

.footer-links {
  display: flex;
  justify-content: center;
}

.liner {
  width: 30%;
  border-radius: 7%;
  margin: 0.5em auto;
  height: 0.3em;
  background: #0d151e;
}

/* RESPONSIVE DESIGN */

/* TABLET PORTRAIT */

@media (min-width: 768px) and (max-width: 867px) {
  .work-frame {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin: 2em 0;
  }

  .work-image {
    width: 100%;
    margin: auto;
  }

  menu li {
    font-size: 1em;
  }

  .work-text .categories {
    max-width: 70%;
  }

  .container-contact {
    max-width: 1500px;
    padding-top: 10%;
    margin: 0 auto;
  }
}

@media (min-width: 870px) {
  .menu {
    display: none;
  }

  menu li {
    font-size: 1em;
  }

  .nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2em;
    margin: 0;
    padding: 0;
  }

  .skills li {
    text-align: left;
    font-size: 1.3rem;
  }

  .nav-links li {
    display: inline;
  }

  .nav-links a {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    text-decoration: none;
    padding: 0.5em;
  }

  .headline-text .description {
    max-width: 60vw;
  }

  .work-image {
    width: 100%;
    margin: auto;
  }

  .work-text .categories {
    max-width: 70%;
  }

  .work-frame {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin: 2em 0;
  }

  .card {
    min-height: 448px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .about-main button {
    width: 30%;
    margin-bottom: 5em;
  }

  .card::before {
    transition: opacity 0.3s ease-in-out;
    height: 100%;
  }

  .card button {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    height: 15%;
    width: 100%;
    padding: 0.75em 2em;
    z-index: 3;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
  }

  .contact form button {
    margin-inline-start: 0%;
    padding: 1em;
    width: 70%;
  }

  .card:hover button {
    position: absolute;
    bottom: 0%;
    left: 50%;
    width: 100%;
    height: 15%;
    padding: 0.75em 2em;
    z-index: 3;
    transform: translateX(-50%);
    visibility: visible;
    opacity: 1;
  }

  .card:hover::before {
    opacity: 0;
    visibility: hidden;
  }

  .card:hover .card-title,
  .card:hover p,
  .card:hover .categories {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out;
  }

  /* About */
  .about-main .description {
    width: 50%;
  }

  .container-about {
    margin-top: 0;
    background-image: url('./media-files/Frame.svg');
    background-repeat: no-repeat;
    background-size: 42% 30%;
    background-position: 110% 15%;
  }

  .about-main {
    padding: 6em 10vw;
  }

  .about-main .primary-text {
    padding-top: 1em;
  }

  .line {
    border-bottom: 2px solid rgb(255, 255, 255, 0.5);
  }

  .skill {
    display: flex;
    justify-content: flex-start;
    gap: 3em;
  }

  .skill .my-skills {
    flex: 1;
  }

  .skill-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .skill-group .header {
    padding: 0 0 1em 1em;
    margin-top: 0;
  }

  .skill-group menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    padding-bottom: 0.7em;
  }

  .skill-title-one::before {
    content: url('media-files/Shape-One.png');
    position: absolute;
    top: 0;
    left: 0;
  }

  .skill-title-two::before {
    content: url('media-files/Shape-Two.png');
    position: absolute;
    top: -1.3%;
    left: 0;
  }

  .skill-title-three::before {
    content: url('media-files/Shape-Three.png');
    position: absolute;
    top: -1%;
    left: 2%;
  }

  /* Contact */
  .contact {
    display: flex;
    flex-direction: row;
    gap: 4em;
    padding: 0 10vw 10% 10vw;
  }

  .contact h3 {
    max-width: 400px;
    text-align: left;
  }

  .container-contact {
    padding-top: 10%;
    margin: 0 auto;
  }

  .liner {
    display: none;
  }
}

/* TABLET LANDSCAPE / LAPTOP */

@media (min-width: 1024px) {
  .headline-wrapper {
    background-image: url('./media-files/Illustration-header.svg');
    background-position: 135% 0%;
    background-size: 60% 95%;
  }

  .headline-main {
    display: flex;
    gap: 4em;
    padding: 30vh 10% 0 2%;
  }

  header a {
    padding-left: 8.9%;
  }

  .categories li {
    flex: 1;
    padding: 0.2em 0.5em;
    border: 1px solid rgba(33, 33, 33, 0.4);
    text-align: center;
    color: #091e42;
    font-size: 15px;
  }

  .work-text > .categories {
    gap: 0.6em;
    max-width: 700px;
    padding: 0 8em 0 0;
  }

  .headline-main .description {
    max-width: 40vw;
  }

  .headline-text {
    order: 1;
    padding-bottom: 2em;
  }

  .headline-main .socials {
    display: flex;
    flex-direction: column;
    order: 0;
    margin-left: 0;
  }

  /* Work */

  .work-main {
    padding: 2em 10vw;
  }

  .work-heading {
    display: flex;
    gap: 1.4em;
    align-items: baseline;
  }

  .work-title {
    font-size: 2.5rem;
  }

  .work-heading hr {
    border: none;
    height: 1.5px;
    flex: 1;
    vertical-align: middle;
    background-color: #212121;
  }

  .detail {
    flex-direction: row;
    gap: 2em;
    margin-top: 3em;
  }

  .work-image {
    flex: 2 1 60%;
    max-width: 70%;
  }

  .work-text {
    flex: 1 1 40%;
  }

  .sub {
    padding-bottom: 0.8em;
  }

  .detail-text {
    max-width: 460px;
    padding-bottom: 0;
    font-size: 1rem;
  }

  .detail .categories {
    padding-bottom: 0;
  }

  .card .categories {
    gap: 1em;
  }

  .card .categories li {
    flex: 1;
    margin-right: 0.2em;
    padding: 0.4em 0.2em;
    border: 1px solid rgba(33, 33, 33, 0.4);
    text-align: center;
    color: #fff;
    font-size: 15px;
  }

  .work-frame {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin: 2em 0;
  }

  .liner {
    display: none;
  }

  .contact form button {
    margin-inline-start: 0%;
    padding: 1em;
    width: 60%;
  }
}

@media (min-width: 1280px) {
  .sub {
    padding-bottom: 1.3em;
    font-size: 2.2rem;
  }

  .detail-text {
    font-size: 1.2rem;
    line-height: 28px;
  }
}

/* DESKTOP */

@media (min-width: 1440px) {
  .detail .categories {
    padding-bottom: 0.8em;
  }

  .headline-text {
    max-width: 39.3vw;
  }
}

@media (min-width: 1570px) {
  .headline-main {
    max-width: 1500px;
    padding: 30vh 10% 7% 5%;
    margin: auto;
  }

  .work-wrapper {
    max-width: 1500px;
    margin: auto;
  }

  .about-main {
    max-width: 1500px;
    margin: auto;
  }
}
