*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.container {
  min-width: 343px;
  width: 100%;
  padding: 2em 5vw;
}

.detail-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail-title img {
  cursor: pointer;
}

.sub {
  font-size: 1.8em;
  font-family: 'Inter', sans-serif;
  color: #172b4d;
}

.categories {
  display: flex;
  margin: 4em 1em 2em 0;
  list-style: none;
}
  
.categories li {
  flex: 1;
  margin-right: 0.5em;
  padding: 0.9em 0.2em;
  border: 1px solid rgba(33, 33, 33, 0.4);
  text-align: center;
  color: #091e42;
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.detail-card {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 2em;
}

.detail-card img {
  width: 100%;
}

p {
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
  line-height: 24px;
  color: #344563;
  margin-bottom: 2em;
}

.cta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  margin-bottom: 2em;
}

button {
  display: flex;
  gap: 12px;
  align-items: center;
  width: max-content;
  background: #ff6b00;
  padding: 0.8em 1em;
  outline: none;
  border: none;
  color: #fff5e1;
  font-family: 'Inter', sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
  
button:hover {
  background-color: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
}
  
button:active {
  background-color: #e05304;
  color: #fff5e1;
}
  